.lakhan
 {
    font-weight: 300;
    color: aqua;
    background-color: brown;
}

.kuchbhi
{
font-family:serif;
color: solid red;
background: #dda3a3;
}
.kuchhi
{
    font-family:serif;
    color: solid red;
    background: #dda3a3;
}   
.changfont
{   
    font-weight: 100 ;
    color: green;
}
    
    
    
